// Colors Variables
$black: rgba(7, 7, 7, 1);
$red: rgba(166, 25, 0, 1);
$white: rgba(250, 250, 250, 1);
$cream: rgba(255, 254, 230, 1);
$logored: rgba(168, 84, 76, 1);
$logoblue: rgba(8, 124, 140, 1);

// Font Sizes
$fs-xs: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
$fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
$fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
$fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
$fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
$fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
$fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
$fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
$fs-xxxxl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);

// Other Variables
