@import 'reset', 'fonts', 'mixins', 'variables';

html {
  scroll-behavior: smooth;
}

body {
  color: $black;
  font-size: $fs-base;
  background-color: $cream;
  font-family: 'GT Regular Median', sans-serif;
  width: 100%;
}

// Landing Styling
#landing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 3rem;
  color: $cream;
  background-color: $black;

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: grayscale(0.25) brightness(0.7) saturate(1.75);
  }

  header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    font-family: 'GT Ultra Median';
    z-index: 2;

    .logo {
      font-size: $fs-md;
    }

    .book {
      color: $cream;
      font-size: $fs-md;
      text-decoration: none;
    }

    /* Animated Underline Styling */
    .book {
      position: relative;
      text-decoration: none;
      display: inline-block;
    }

    .book:after {
      display: block;
      content: '';
      border-bottom: 1px solid $cream;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transform-origin: 100% 50%;
    }

    .book:hover:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }

  > div {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    font-family: 'GT Ultra Median';
    z-index: 1;

    .landing-menu {
      @include flex-column;
      gap: 0.5rem;

      a {
        align-self: flex-start;
        color: $cream;
        font-size: $fs-xl;
        text-decoration: none;
      }

      /* Animated Underline Styling */
      a {
        position: relative;
        text-decoration: none;
        display: inline-block;
      }

      a:after {
        display: block;
        content: '';
        border-bottom: 1px solid $cream;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 100% 50%;
      }

      a:hover:after {
        transform: scaleX(1);
        transform-origin: 0 50%;
      }
    }

    .landing-name {
      @include flex-column;
      align-items: flex-end;

      h1 {
        font-size: calc($fs-xxxxl * 1.8);
        line-height: 1;
      }

      h2 {
        font-size: $fs-xxl;
        line-height: 1;
        margin-bottom: -1rem;
      }
    }
  }

  footer {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;

    > p {
      font-size: $fs-sm;
      max-width: 35%;
    }
  }
}

// About styling
#about {
  position: relative;
  @include flex-column;
  padding: 5rem 10%;
  font-family: 'Montserrat';

  // Scroll all text elements upwards with parallax scrolling

  > * {
    margin-bottom: 5rem;
  }

  h2 {
    // Make this scroll across with Parallax
    // Make this scroll across with Parallax
    // Make this scroll across with Parallax
    font-size: $fs-xl;
    margin-bottom: 2rem;
    font-family: 'GT Ultra Median';
  }

  section {
    @include flex-row;
    justify-content: space-between;
    gap: 10%;
    width: 100%;

    > div {
      max-width: 45%;
    }

    img {
      border: 5px solid $black;
    }

    p {

    }

    strong {

    }

    .textone {
      @include flex-column;
      justify-content: space-between;

      :last-child {
        margin-bottom: 5rem;
      }
    }

    .texttwo {
      @include flex-column;
      justify-content: space-around;
    }

    .textthree {
      @include flex-column;
      justify-content: center;

      p {
        margin-left: -5rem;
      }
    }

    .imageone {

    }

    .imagetwo {

    }

    .imagethree {
      img {
        margin-left: -3rem;
      }
    }

  }
}

// Footer Styling
#footer {
  @include flex-row;
  justify-content: space-between;
  padding: 3rem;
  font-size: $fs-sm;

  .left {
    @include flex-column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.25rem;
  }

  .right {
    @include flex-column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #socials {
    svg {
      fill: $black;
      color: $black;
      text-decoration: none;
    }
  }
}

// Menu styling
#menu {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100vh;
  color: $cream;
  background-color: $black;

  nav {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 3rem;

    #close {
      fill: $cream;
    }
  }

  .content {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 7.5% 10% 7.5%;

    .inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;

      .menu-nav {
        @include flex-column;

        span {
          font-size: $fs-xxl;
          margin-bottom: 0.5rem;
        }
      }

      .menu-info {
        @include flex-column;
        align-items: flex-end;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        span {
          font-family: 'Montserrat';
          font-size: $fs-base;
          margin-bottom: 0.2rem;
        }

        #socials {
          margin-top: auto;

          a,
          svg {
            fill: $cream;
            color: $cream;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// Navbar Styling
#navbar {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
}

// Socials styling
#socials {
  @include flex-row;
  gap: 0.5rem;

  svg {
    width: 3rem;
    height: 3rem;
    @include trans-ease;

    &:hover {
      transform: scale(1.1);
      @include trans-ease;
    }
  }


}

// Hamburger styling
#hamburger {
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
  }
}

// Close styling
#close {
  width: 3rem;
  height: 3rem;

  &:hover {
    cursor: pointer;
  }
}

// Times Styling
#times {
  @include flex-column;
  font-size: $fs-sm;

  > span {
    margin-bottom: 0.25rem;
  }

  > div {
    @include flex-column;

    .times {
      @include flex-row;
      justify-content: space-between;
      margin-bottom: 0.125rem;
    }
  }
}
